.navbar-inverse{
    background:#fafafa !important;
}
.row{
    background-color: #8DD7E8;
    padding-top: 35%;
    display: flex;
}

body{
    background-color: #4030E8;
}

h1{
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35pt;
    color: #fafafa;
}