/* Navbar */
.navbar-inverse{
    background:#fafafa !important;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.row{
    background-color: #8DD7E8;
    padding-top: 60px;
    padding-bottom: 5%;
    margin-right: 0px;
    margin-left: 0px;
}

.row.not-done{
    background-color: transparent;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

.row.done-tasks{
    background-color: transparent;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.container.task-list{
    display: inline;
    justify-content: center;
}

body{
    background-color: #4030E8;
}

h1{
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35pt;
    color: #fafafa;
}
h2{
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35pt;
    color: #4C4C4D;
}

.todolist{
    background-color:#FFF;
    padding:50px 50px 50px 50px;
    margin-top:5px;
}

.todolist h2{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}

.form-control{
    border-radius:0;
}

li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    text-align: center;
    margin:0 0px 0px 0px;
    padding: 10px 20px;
}